:root {
    box-sizing: border-box;
}


/* Elements */

input,
textarea {
    border: 0;
}

input:focus,
textarea:focus {
    outline: none;
}

button {
    border: none;
}

a:link,
a:visited {
    text-decoration: none;
}

body {
    padding-top: 0;
}


/* Components */


/* Classes */