doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav 
      details 
        summary Our government 
          a(href="") Legislative branch 
          a(href="") Executive branch
          a(href="") Judicial branch
      details
        summary Our people
          a(href="") History 
          a(href="") Get temporary permit
    block content
